:root {
    --color-grad-180:linear-gradient(180deg, #09c778, #01a0f9);
    --color-grad-41:linear-gradient(-41deg, #09c778, #01a0f9);
    --color-grad-90:linear-gradient(90deg, #09c778, #01a0f9);
    --color-grad-270:linear-gradient(270deg, #09c778, #01a0f9);
    --grey: #666;
    --grey-dark: #333;
    --grey-bgr: #EFF1F7;
    --blue: #01a0f9;
    --green: #09c778;
    --white: #ffffff;
    --black: #000000;

    --width: 100%;
    --half-gap: 10px;
    --gap: calc(var(--half-gap) * 2);
    --c1: calc(100% / 12 - var(--gap));
    --inc: calc(var(--c1) + var(--gap));
    --c2: calc(var(--c1) + var(--inc));
    --c3: calc(var(--c2) + var(--inc));
    --c4: calc(var(--c3) + var(--inc));
    --c5: calc(var(--c4) + var(--inc));
    --c6: calc(var(--c5) + var(--inc));
    --c7: calc(var(--c6) + var(--inc));
    --c8: calc(var(--c7) + var(--inc));
    --c9: calc(var(--c8) + var(--inc));
    --c10: calc(var(--c9) + var(--inc));
    --c11: calc(var(--c10) + var(--inc));
    --c12: calc(var(--c11) + var(--inc));

    --ml0: calc(var(--half-gap));
    --ml1: calc(var(--ml0) + var(--inc));
    --ml2: calc(var(--ml1) + var(--inc));
    --ml3: calc(var(--ml2) + var(--inc));
    --ml4: calc(var(--ml3) + var(--inc));
    --ml5: calc(var(--ml4) + var(--inc));
    --ml6: calc(var(--ml5) + var(--inc));
    --ml7: calc(var(--ml6) + var(--inc));
    --ml8: calc(var(--ml7) + var(--inc));
    --ml9: calc(var(--ml8) + var(--inc));
    --ml10: calc(var(--ml9) + var(--inc));
    --ml11: calc(var(--ml10) + var(--inc));
}
.bgr-grad-left {
    background:var(--color-grad-270);
}
.bgr-grad-right {
    background:var(--color-grad-90);
}
.bgr-grad-angle {
    background:var(--color-grad-41);
}
.bgr-grad-top {
    background:var(--color-grad-180);
}
.bgr-gray {
    background:var(--grey-bgr);
    z-index: -2;
}

.center {
    text-align: center;
}
.title {
    text-transform: capitalize;
    color: var(--grey-dark);
    font-size: 30px;
    z-index: 0;
    line-height: 1.3em;
    margin: 100px 0 26px;
    position: relative;
}

.title::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: -1;
    top: calc(1em - 10px);
    width: 150px;
    height: 10px;
    background: var(--color-grad-270);
}

.center .title::after{
    left: 50%;
    transform: translateX(-50%);
}

body h3 {
    text-align: center;
    color: #333;
    font-size: 20px;
    line-height: 1.3em;
    margin: 0 0 0 15px;
}

p {
    color: var(--grey);
    font-size: 15px;
    line-height: 1.3em;
}
p + p {
    margin: 26px 0 0 0; 
}
.hidden {
    display: none !important;
}
.visible {
    display: inline-block !important;
}
.visible-flex {
    display: flex !important;
}
.visible-grid {
    display: grid !important;
}

.container,
.container-fluid {
    width: 100%;
    padding: 60px 0px 0px 0px;
    float: left;
}
.container > .row {
    width: var(--width);
    margin: 20px calc((100% - var(--width)) / 2);
    float: left;
   /* background-color: pink; */
}
.container-fluid > .row {
    width: 100%;
    margin: 20px 0;
    float: left;
}

/* Buttons: start */
.btn-container {
    display: block;
    box-sizing: border-box
}

.btn {
    text-transform: uppercase;
    text-align: center;
    border-radius: 50px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.btn-play {
    border: 1px solid var(--green);
    background-color: var(--white);
    width: 50px;
    height: 50px;
    color: var(--green);
}

.btn-play:hover {
   /* to be continued */
}

.send {
    font-size: 15px;
    position: absolute;
    left: 10px;
    top: 10px;
}

.btn-send {
    position: relative;
    background: var(--color-grad-270);
    color: #ffffff;
    outline: none;
    border: none;
    height: 40px;
    line-height: 40px;
    width: 40px;
    border-radius: 50px;
    /* transform: rotate(deg); */
    cursor: pointer;
    z-index: 9;
    transition: all 0.7s ease 0s;
}

.btn-gradient {
    font-size: 1em;
    padding: 0.8em 2.3em;
    background-image: var(--color-grad-270);
    color: var(--white);
}

.btn-gradient:hover {
    background-image: var(--color-grad-90);
    transition: all 0.7s ease 0s;
}

.btn-white {
    color: var(--blue);
    font-size: 1em;
    padding: 0.8em 2.3em;
    border: 1px solid #ffffff;
    background: var(--white);
}

.btn-white:hover {
    color: var(--white);
    background: transparent;
    transition: all 0.7s ease 0s;
}

.btn-transparent {
    font-size: 1em;
    padding: 0.8em 2.3em;
    color: var(--white);
    border: 1px solid #ffffff;
    background: transparent;
    margin: 0 0 0 10px;
}

.btn-transparent:hover {
    color: var(--blue);
    background-color: var(--white);
    transition: all 0.7s ease 0s;
}

.btn-form {
    width: 100%;
    height: 50px;
    line-height: 50px;
    background-color: var(--white);
    border: 1px solid #ffffff;
    color: var(--black);
    padding: 1px 6px;
    font-size: 1.2em;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.btn-form:hover {
    transition: all 0.7s ease 0s;
    color: var(--green);
}


/* Buttons: end */

.row > [class*='col-'] {
    float: left;
    margin: var(--half-gap);
    /* background-color: aqua; */
}
.row > .col-1 {
    width: var(--c1);
}
.row > .col-2 {
    width: var(--c2);
}
.row > .col-3 {
    width: var(--c3);
}
.row > .col-4 {
    width: var(--c4);
}
.row > .col-5 {
    width: var(--c5);
}
.row > .col-6 {
    width: var(--c6);
}
.row > .col-7 {
    width: var(--c7);
}
.row > .col-8 {
    width: var(--c8);
}
.row > .col-9 {
    width: var(--c9);
}
.row > .col-10 {
    width: var(--c10);
}
.row > .col-11 {
    width: var(--c11);
}
.row > .col-12 {
    width: var(--c12);
}

.row > .ml-0 {
    margin-left: var(--ml0);
}
.row > .ml-1 {
    margin-left: var(--ml1);
}
.row > .ml-2 {
    margin-left: var(--ml2);
}
.row > .ml-3 {
    margin-left: var(--ml3);
}
.row > .ml-4 {
    margin-left: var(--ml4);
}
.row > .ml-5 {
    margin-left: var(--ml5);
}
.row > .ml-6 {
    margin-left: var(--ml6);
}
.row > .ml-7 {
    margin-left: var(--ml7);
}
.row > .ml-8 {
    margin-left: var(--ml8);
}
.row > .ml-9 {
    margin-left: var(--ml9);
}
.row > .ml-10 {
    margin-left: var(--ml10);
}
.row > .ml-11 {
    margin-left: var(--ml11);
}

@media (min-width: 576px) {
    :root {
        --width: 540px;
        --half-gap: 15px;
    }

    .hidden-sm {
        display: none !important;
    }
    .visible-sm {
        display: inline-block !important;
    }
    .visible-flex-sm {
        display: flex !important;
    }
    .visible-grid-sm {
        display: grid !important;
    }

    .row > .col-sm-1 {
        width: var(--c1);
    }
    .row > .col-sm-2 {
        width: var(--c2);
    }
    .row > .col-sm-3 {
        width: var(--c3);
    }
    .row > .col-sm-4 {
        width: var(--c4);
    }
    .row > .col-sm-5 {
        width: var(--c5);
    }
    .row > .col-sm-6 {
        width: var(--c6);
    }
    .row > .col-sm-7 {
        width: var(--c7);
    }
    .row > .col-sm-8 {
        width: var(--c8);
    }
    .row > .col-sm-9 {
        width: var(--c9);
    }
    .row > .col-sm-10 {
        width: var(--c10);
    }
    .row > .col-sm-11 {
        width: var(--c11);
    }
    .row > .col-sm-12 {
        width: var(--c12);
    }

    .row > .ml-sm-0 {
        margin-left: var(--ml0);
    }
    .row > .ml-sm-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-sm-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-sm-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-sm-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-sm-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-sm-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-sm-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-sm-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-sm-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-sm-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-sm-11 {
        margin-left: var(--ml11);
    }
}

@media (min-width: 768px) {
    :root {
        --width: 720px;
        --half-gap: 20px;
    }

    .hidden-md {
        display: none !important;
    }
    .visible-md {
        display: inline-block !important;
    }
    .visible-flex-md {
        display: flex !important;
    }
    .visible-grid-md {
        display: grid !important;
    }

    .row > .col-md-1 {
        width: var(--c1);
    }
    .row > .col-md-2 {
        width: var(--c2);
    }
    .row > .col-md-3 {
        width: var(--c3);
    }
    .row > .col-md-4 {
        width: var(--c4);
    }
    .row > .col-md-5 {
        width: var(--c5);
    }
    .row > .col-md-6 {
        width: var(--c6);
    }
    .row > .col-md-7 {
        width: var(--c7);
    }
    .row > .col-md-8 {
        width: var(--c8);
    }
    .row > .col-md-9 {
        width: var(--c9);
    }
    .row > .col-md-10 {
        width: var(--c10);
    }
    .row > .col-md-11 {
        width: var(--c11);
    }
    .row > .col-md-12 {
        width: var(--c12);
    }

    .row > .ml-md-0 {
        margin-left: var(--ml0);
    }
    .row > .ml-md-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-md-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-md-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-md-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-md-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-md-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-md-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-md-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-md-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-md-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-md-11 {
        margin-left: var(--ml11);
    }
}

@media (min-width: 992px) {
    :root {
        --width: 960px;
        --half-gap: 25px;
    }

    .hidden-lg {
        display: none !important;
    }
    .visible-lg {
        display: inline-block !important;
    }
    .visible-flex-lg {
        display: flex !important;
    }
    .visible-grid-lg {
        display: grid !important;
    }

    .row > .col-lg-1 {
        width: var(--c1);
    }
    .row > .col-lg-2 {
        width: var(--c2);
    }
    .row > .col-lg-3 {
        width: var(--c3);
    }
    .row > .col-lg-4 {
        width: var(--c4);
    }
    .row > .col-lg-5 {
        width: var(--c5);
    }
    .row > .col-lg-6 {
        width: var(--c6);
    }
    .row > .col-lg-7 {
        width: var(--c7);
    }
    .row > .col-lg-8 {
        width: var(--c8);
    }
    .row > .col-lg-9 {
        width: var(--c9);
    }
    .row > .col-lg-10 {
        width: var(--c10);
    }
    .row > .col-lg-11 {
        width: var(--c11);
    }
    .row > .col-lg-12 {
        width: var(--c12);
    }

    .row > .ml-lg-0 {
        margin-left: var(--ml0);
    }
    .row > .ml-lg-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-lg-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-lg-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-lg-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-lg-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-lg-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-lg-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-lg-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-lg-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-lg-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-lg-11 {
        margin-left: var(--ml11);
    }
}

@media (min-width: 1200px) {
    :root {
        --width: 1140px;
        --half-gap: 30px;
    }

    .hidden-xl {
        display: none !important;
    }
    .visible-xl {
        display: inline-block !important;
    }
    .visible-flex-xl {
        display: flex !important;
    }
    .visible-grid-xl {
        display: grid !important;
    }

    .row > .col-xl-1 {
        width: var(--c1);
    }
    .row > .col-xl-2 {
        width: var(--c2);
    }
    .row > .col-xl-3 {
        width: var(--c3);
    }
    .row > .col-xl-4 {
        width: var(--c4);
    }
    .row > .col-xl-5 {
        width: var(--c5);
    }
    .row > .col-xl-6 {
        width: var(--c6);
    }
    .row > .col-xl-7 {
        width: var(--c7);
    }
    .row > .col-xl-8 {
        width: var(--c8);
    }
    .row > .col-xl-9 {
        width: var(--c9);
    }
    .row > .col-xl-10 {
        width: var(--c10);
    }
    .row > .col-xl-11 {
        width: var(--c11);
    }
    .row > .col-xl-12 {
        width: var(--c12);
    }

    .row > .ml-xl-0 {
        margin-left: var(--ml0);
    }
    .row > .ml-xl-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-xl-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-xl-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-xl-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-xl-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-xl-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-xl-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-xl-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-xl-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-xl-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-xl-11 {
        margin-left: var(--ml11);
    }
}

@media (min-width: 1400px) {
    :root {
        --width: 1320px;
    }

    .hidden-xxl {
        display: none !important;
    }
    .visible-xxl {
        display: inline-block !important;
    }
    .visible-flex-xxl {
        display: flex !important;
    }
    .visible-grid-xxl {
        display: grid !important;
    }

    .row > .col-xxl-1 {
        width: var(--c1);
    }
    .row > .col-xxl-2 {
        width: var(--c2);
    }
    .row > .col-xxl-3 {
        width: var(--c3);
    }
    .row > .col-xxl-4 {
        width: var(--c4);
    }
    .row > .col-xxl-5 {
        width: var(--c5);
    }
    .row > .col-xxl-6 {
        width: var(--c6);
    }
    .row > .col-xxl-7 {
        width: var(--c7);
    }
    .row > .col-xxl-8 {
        width: var(--c8);
    }
    .row > .col-xxl-9 {
        width: var(--c9);
    }
    .row > .col-xxl-10 {
        width: var(--c10);
    }
    .row > .col-xxl-11 {
        width: var(--c11);
    }
    .row > .col-xxl-12 {
        width: var(--c12);
    }

    .row > .ml-xxl-0 {
        margin-left: var(--ml0);
    }
    .row > .ml-xxl-1 {
        margin-left: var(--ml1);
    }
    .row > .ml-xxl-2 {
        margin-left: var(--ml2);
    }
    .row > .ml-xxl-3 {
        margin-left: var(--ml3);
    }
    .row > .ml-xxl-4 {
        margin-left: var(--ml4);
    }
    .row > .ml-xxl-5 {
        margin-left: var(--ml5);
    }
    .row > .ml-xxl-6 {
        margin-left: var(--ml6);
    }
    .row > .ml-xxl-7 {
        margin-left: var(--ml7);
    }
    .row > .ml-xxl-8 {
        margin-left: var(--ml8);
    }
    .row > .ml-xxl-9 {
        margin-left: var(--ml9);
    }
    .row > .ml-xxl-10 {
        margin-left: var(--ml10);
    }
    .row > .ml-xxl-11 {
        margin-left: var(--ml11);
    }
}
