.footer {
    display: inline-block;
    margin: -7px 0;
    width: 100%;
    padding-top: 70px;
    /* box-sizing: border-box; */
}
.footer-bgr {
    background: url(../../img/footer/footer-bg.jpg);
    background-repeat: none;
    background-position: left;
    background-size: cover;
}
.footer-title{
    color: #333;
    text-transform: uppercase;
    font-size: 20px;
    z-index: 0;
    position: relative;
    line-height: 1.3em;
    margin: 0 0 40px 0;
}
.footer-title::after{
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    z-index: -1;
    top: calc(1em - 5px);
    width: 70px;
    height: 5px;
    background: var(--color-grad-270);
}

.footer-top {
    display: flex;
    width: 100%;
}
.footer-logo {
    margin-bottom: 33px;
}
.footer-socials  .fab{
    display: inline-block;
    margin: 26px 15px 0 0;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    background: var(--color-grad-41);
}

.footer-socials  .fab:hover{
    color:#fff;
    background: var(--color-grad-90);
    transition: background-color 5s;
}
.footer-nav {
    display: flex;
    width: 100%;
} 

.footer-nav > ul{
    display: flex;
    flex-direction: column;
    width: 50%;
}
@media (max-width: 768px) {
    .footer-nav {
        flex-direction: column;
        width: 100%;
    }
    .footer-top .row {
        display: flex;
        flex-direction: column;
    }
    .footer-title {
        margin-bottom: 30px;
    }
    .row > .nav-col {
        margin: 50px 0 0 0;
    }
    .footer{
        padding: 25px;
    }
}

.footer a {
    color: var(--grey);
    line-height: 26px;
    padding-bottom: 7px;
    font-size: 15px;
    text-transform: capitalize;
}

.footer-bottom {
    display: flex;
    text-align: center;
    width: 100%;
    padding: 24px 0;
    border-top: 1px solid #e3e5ea;
    margin: 0;
    text-transform: capitalize;
}

.footer-bottom  p,
.footer-bottom a{
    font-size: 14px;
    color: var(--grey-dark);
}

.footer  a:hover{
    color: var(--blue);
}
/* Chatbox */
.chatbot, 
.chat-bubble, 
.chat-header,
.chat-header-cont,
.chat-info, 
.chat-img, 
.chat-exit, 
.chat-zone,
.chat-start {
    display: flex;
}
.chatbot {
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 50px;
    right: 50px;
    border-radius: 50%;
    background: var(--color-grad-41);
    cursor: pointer;
}
.chatbot:hover{
    background: var(--color-grad-90);
    transition: all 0.7s ease 0s;
}
.chat-bubble {
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 80px;
}

.chatbot i {
    color: #fff;
    font-size: 35px;
}
.chat-box {
    position: absolute;
    right: 0;
    bottom: 100px;
    width: 315px;
    border-radius: 10px;
    background-color: #fff;
    display: none;
    box-shadow: 2px 10px 50px rgba(158, 158, 158, 0.25);
    cursor: auto;
}
.chat-hidden {
    display:inline-block;
}
.chat-header {
    width: 100%;
    align-items: center;
    justify-content: center;
    background: var(--color-grad-270);
}
.chat-header-cont {
    justify-content: space-between;
    width: 90%;
    margin: 15px auto;
}
.chat-info {
    flex-direction: row;
    justify-content: center;
}
.chat-img {
    align-items: center;
    position: relative;
}
.chat-img > .activity {
    position: absolute;
    right: 4px;
    bottom: 7px;
    height: 7px;
    width: 7px;
    border-radius: 50%;
    background: #f00;
}
.chat-status {
    color: #fff;
    font-size: 15px;
    margin-left: 10px;
}
.chat-status > span {
   font-size: 12px;
}
.chat-exit {
    align-items: center;
    cursor: pointer;
}
.chat-exit i {
    color: #fff;
    transition: all 0.3s;
}
.chat-exit i:hover {
    color: var(--grey-dark);
}
.chat-exit i {
    font-size: 30px;
}

.chat-zone {
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 330px;
}
.chat-zone p {
    width: 235px;
    text-align: center;
}

.chat-start a {
    font-size: 16px;
    width: 90%;
    text-transform: uppercase;
    color: #fff;
    margin: 15px auto;
    line-height: 1em;
    padding: 17px 0;
}
.chat-start a:hover {
    color: #fff;
}