/* mobiliosios versijos kodas home puslapiui */
/* header start */


@media (max-width: 991px) {
    .header .header_nav {
        display: none;
    }

    .header .nav_n_search .head_menu {
        display: inline-block;
    }





    .hero_row .hero_title {
        flex-wrap: wrap;
        font-size: 35px;
        line-height: 40px;

    }



}

@media(max-width: 800px) {
    .hero .hero_row {
        padding: 140px;
    }



    .header .head_row1 {
        display: none;
    }

    .head_pseudo {
        display: none;
    }

    .hero_row .hero_img {
        display: none;
    }


    .hero_row .hero_text {
        width: 100%;

        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .hero_subtitle {
        font-size: 20px;
        line-height: 30px;
        padding: 10px 0 30px;
        color: white;
        font-weight: 400;
    }



}

/* header finish */