/* Css elementu importavimas kurie pritaikomi home page */
@import url(../css/3rd_party/font_awesome/css/all.min.css);
@import url(../css/base/base_layout.css);
@import url(../css/base/home_mobile.css);
@import url(../css/components/chat_bot.css);
@import url(../css/components/colour_gradient.css);
@import url(../css/components/default_buttons.css);
@import url(../css/fonts/home_fonts.css);
@import url(../css/base/base.css);
@import url(../css/base/footer.css);
@import url(../css/components/carousel.css);



/* Custom from here*/



/* Header styles: start */

header * {
    color: white;
    font-size: 13px;

}

.header .col-12 {
    margin-top: 10px;
    margin-bottom: 0;
}

.head_socials {
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
}

.head_social {
    text-align: center;
    font-size: 12px;
}

.head_n_hero .container {
    padding: 0;
}

.header_rows {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header .head_contacts {
    display: flex;

    align-items: center;

}

.head_email {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.head_phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}


.nav_n_search {
    font-weight: 500;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header_nav {
    width: 70%;
    display: flex;

    align-items: center;
}

.common_element {
    padding-right: 17px;
}

.cart_search {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.h_logo {
    padding-right: 10px;

}

.static_nav {
    display: none;

}

/* Header styles: end */

/* Hero styles: start */
.hero_row {
    padding-top: 100px;
}

.hero_text {
    display: flex;
    justify-content: center;
    align-items: start;
    text-align: start;
    flex-direction: column;
    max-width: 50%;

}

.hero_title {
    text-transform: capitalize;
    color: white;
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
    letter-spacing: 1px;
}

.hero_subtitle {
    font-size: 20px;
    line-height: 30px;
    padding: 10px 0 30px;
    color: white;
    font-weight: 400;
}

.head_n_hero {
    height: 100vh;
}

.header_img {

    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: flex-end;
}

.img_robot {
    max-width: 100%;
}

.robotukas {
    animation: robotukas 4s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.img_people {
    max-width: 100%;
}

@keyframes robotukas {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }

    100% {
        transform: translateY(0px);
    }
}

.hero .title {
    color: white;

}

/* Hero styles: end */

/* Power Your Creativity: start */
/* Power Your Creativity: end */

/* We Create The Most Realistic Artificial Intelligence: start */
.about-img {
    max-width: 100%;
    height: auto;
}.about-img{
    vertical-align: middle;
    border-style: none;
}


.margin-0{
    margin: 0;
}
.about {
    margin: 0 0 26px;
}




/* We Create The Most Realistic Artificial Intelligence: end */

/* Statistics: start */
.stats-counter {
    margin-bottom: 2.5em;
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-direction: column;
}

.shape {
    position: relative;
    display: flex;
    flex-direction: row;
}


.single-counter {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 3em;
}


.counter-text {
    position: absolute;
    top: 20%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: white;

}

.count-text-numbers {
    font-weight: 600;
    font-size: 2em;
}

.count-text-numbers::after {
    content: '+';
}

.count-text-title {
    font-size: 1.5em;

}

/* .single-text-number{
    font-size: 30px;
} */

.count-text-title {
    font-size: 18px;
}

@media (max-width: 576px) {

    .single-counter {
        flex-direction: column;
    }
}

@media (max-width: 768px) {

    .single-counter {
        flex-direction: column;
    }
}


/* Statistics: end */

/* Our Core Services: start */
.services {
    padding-bottom: 10em;
}

/* Our Core Services: end */

/* Our Latest Project: start */
/* Our Latest Project: end */

/* Newsletter: start */
.newsletter {

    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    /* padding: 40px; */
    flex-wrap: wrap;
    background-color: var(--white);
    position: absolute;
    top: -200px;

}

.inbox_logo {
    font-size: 235px;
    margin: 0;
}

.inbox {
    width: 30%;
}

.newsletter_form {
    font-size: 30px;
    width: 70%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.email_form {
    display: flex;
    margin-top: 20px;
}

.inbox_input {
    min-width: 700px;
    min-height: 40px;
}

.newsletter-cont {
    position: relative;
    height: 500px;
    padding-bottom: 100px;
}

.bgr {
    color: var(--color-grad-270);
}

/* Newsletter: end */

/* How We Works: start */
.box-works {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.box-works:after {
    content: '';
    position: absolute;
    width: 15em;
    border: 0.02em dashed #01a0f9;
    left: 70%;
    bottom: 20px;
}

.box-works2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}


.box-works:before {
    font: var(--fa-font-solid);
    content: "\f101";
    font-size: 1.5em;
    position: absolute;
    bottom: 7px;
    left: 58%;
    color: #09c778;
}

.box_icon_work i:before {
    height: 1.75em;
    width: 1.75em;
    background: var(--color-grad-41);
    border-radius: 50%;
    line-height: 1.75em;
    font-size: 1.2em;
    color: var(--white);
    display: inline-block;
    margin: 0.2em;
    transition: all 0.7s ease 0s;

}

.box_icon_work {
    display: inline-block;
    border: 1px dashed #01a0f9;
    border-radius: 50%;
    position: relative;
}

.circle {
    position: relative;
    height: 40px;
    width: 40px;
    border: 0.02em dashed #01a0f9;
    border-radius: 50%;
    margin: 0 auto;
}

.circle:after {
    content: '';
    position: absolute;
    height: 1.75em;
    width: 1.75em;
    background: linear-gradient(-41deg, #09c778, #01a0f9);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.works-icon {
    display: flex;
    align-content: center;
    font-size: 100px;
    margin: 0;
    color: var(--white);
}

.work {
    padding-bottom: 10em;
}

.works-titles {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

@media (max-width:1000px ) {
    
    .box-works:before {
       display: none;
    }

    .circle {
        display: none;
    }
    
    .circle:after {
       display: none;
    }

    .box-works:after {
        display: none;
    }
}

/* How We Works: end */

/* Recent Blog Post: start */
/* Recent Blog Post: end */

/* Contact With Us: start */
.form {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 15px;
}

.form label {
    display: none;
}

.form>.input,
.form>.textarea {
    width: 100%;
    padding: 0.5em 0.1em;
    font-family: inherit;
    font-size: 18px;
    line-height: 1em;
    border: none;
}

.form>.input {
    width: calc(50% - 15px);
}

.form>.textarea {
    resize: vertical;
    min-height: 100px;
    height: 150px;
    max-height: 400px;
}

.form>.contact-bg {
    background-color: rgba(255, 255, 255, 0.3);
    border: unset;
    border-radius: 5px;
    box-shadow: none;
    outline: none;
}

.form ::placeholder {
    color: #777;
    font-style: italic;
    font-size: 0.9em;
}

button {
    width: 100%;
    padding: 15px;
}

/* Contact With Us: end */