/* Css elementu importavimas kurie pritaikomi home page */
@import url(../css/3rd_party/font_awesome/css/all.min.css);
@import url(../css/base/base_layout.css);
@import url(../css/base/home_mobile.css);
@import url(../css/components/chat_bot.css);
@import url(../css/components/colour_gradient.css);
@import url(../css/components/default_buttons.css);
@import url(../css/fonts/home_fonts.css);
@import url(../css/base/base.css);
@import url(../css/base/footer.css);



/* Custom from here*/



/* Header styles: start */
/* Header styles: end */

/* Hero styles: start */
/* Hero styles: end */

/* Power Your Creativity: start */
/* Power Your Creativity: end */

/* We Create The Most Realistic Artificial Intelligence: start */
/* We Create The Most Realistic Artificial Intelligence: end */

/* Statistics: start */
/* Statistics: end */

/* Our Core Services: start */
/* Our Core Services: end */

/* Our Latest Project: start */
/* Our Latest Project: end */

/* Newsletter: start */
/* Newsletter: end */

/* How We Works: start */
/* How We Works: end */

/* Recent Blog Post: start */
/* Recent Blog Post: end */

/* Contact With Us: start */

.newsletter{
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}
.inbox_logo{
    font-size: 235px;
    margin: 0;
}
.inbox{
   width: 30%;
}
.newsletter_form{
    font-size: 30px;
    width: 70%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.email_form{
    display: flex;
    margin-top: 20px;
}
.inbox_input{
    min-width: 700px;
        min-height: 40px;
}
.bgr{
color: linear-gradient(0deg, #09c778, #01a0f9);
}

/* Contact With Us: end */